body {
background-image: url("images/bodybg.png");
}

.header {
background-image: url("images/homebg.png");
width:100%;
height: 100%;
border-bottom-left-radius:2%;
border-bottom-right-radius:2%;
}

a {
    text-decoration: none;
}

.HeaderBar{
    display: flex;
    padding: 5 40;
}


#HeaderIds{
    flex: 50%;
}

.Links{
    background-color: none;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
}

.Weather{
    display: flex;
}

.Weather-sub{
    flex:50%;
    margin-top: 100px;
}

.WeatherLink{
    display: flex;
    flex-direction: row;
}

.Weather-sub a{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}


.Weather-sub h1{
    font-size: 60px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Features{
    padding: 0;
    margin: 0;
    list-style: none;
    align-items: center;
    justify-content: center;
}

.FeaturesSub{
    display:flex;
}

.FeaturesSubPic{
    display:flex;
   
}

.FeaturesPicSize img{
    width: 50px;
}

.FeaturesSubPic{
    flex: 50%;
}

.Features h1{
    font-size: 60px;
    color: cornflowerblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Features h2{
    font-size: 20px;
    color: sandybrown;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.FeaturesContent{
    margin-left: 15;
}

.FeaturesPicScreen{
    margin: 0 auto;
    width:50%;
} 

.ScreenShots h1{
    font-size: 40px;
    color: cornflowerblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.ScreenShots h2{
    font-size: 20px;
    color: sandybrown;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.CloudFirst{
    display:flex;
}

.CloudSubFirst{
    flex: 50%;
}

.CloudSecond{
    display:flex;
}

.CloudSecondSub{
    flex: 50%;
}

.Rain{
    display:flex;
}

.RainSub{
    flex: 50%;
}

.Review h2{
    font-size: 40px;
    color: cornflowerblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}

.Review p{
    font-size: 20px;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.IndividualReviews{
    display:flex;
}

.IndividualReviewsFlex{
    flex:50%;
}

.Promotion{
    display: flex;
    margin-top: 150;
}

.PromotionSub{
    flex:50%;
}

.PromotionSub h1{
    font-size: 40px;
    color: cornflowerblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.PromotionSub p{
    font-size: 40px;
    color: sandybrown;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Promotion {
    background-image: url("images/homebg.png");
    }

    .Footer{
        background-color: brown;
    }

.FooterBar div {
    flex: 33%;
}
.FooterBar{
    
    display: flex;
}

.FooterBar a {
    
    color: black;
}
