<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Skills</title>
</head>
<body>

<div class="container">
    <div th:if="${not #lists.isEmpty(skills)}">
        <h2>All Skills</h2>
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>Skills</th>
            </tr>
            <tr th:each="skill : ${skills}">
                <td th:text="${skill.id}">Id</td>
                <td th:text="${skill.name}">Name</td>
            </tr>
        </table>
    </div>
</div>


</body>
</html>