<div class="row my-2 justify-content-between">
    <div class="row">

        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action active">
                All Categories
            </a>
            <a href="#" class="list-group-item list-group-item-action">Bread</a>
            <a href="#" class="list-group-item list-group-item-action">Dairy</a>
            <a href="#" class="list-group-item list-group-item-action">Fruits</a>
            <a href="#" class="list-group-item list-group-item-action disabled">Seasonings And Spices</a>
            <a href="#" class="list-group-item list-group-item-action disabled">Vegetables</a>
        </div>

        <div class="card m-4" style="width: 13rem;" ng-repeat="item in $ctrl.cartitems">
            <img class="card-img-top" ng-src="{{item.imgUrl}}" alt="Image Unavailable !">
            <div class="card-body">
                <h5 class="card-title">{{item.name}}</h5>
                <p class="card-text text-muted">${{item.price}}</p>
            </div>
            <div>
                <a href="#" class="btn btn-secondary btn-block" ng-click="addItemToCart(item)">ADD TO CART</a>
            </div>
        </div>

    </div>

</div>
